.box {
	display: flex;
	width: 100%;
	padding: 20px 0;
	background-color: #000;
}

.child {
	width: 25%;
	padding-bottom: 25%;
	margin: 0 5%;
	background: linear-gradient(red, orange);
	opacity: 0;
	animation: donghua 0.5s forwards;
}

@keyframes  donghua{
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.child:nth-child(1) {
	animation-delay: 1s;
}

.child:nth-child(2) {
	animation-delay: 2s;
}

.child:nth-child(3) {
	animation-delay: 3s;
}